<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link rel="stylesheet" href="~/Content/StyleA.css" type="text/css" />
</head>

<body style="background-image:url(/image/139-150515124115.jpg); background-repeat:repeat-y">
    <div class="top">
        <div id="nav">
            <ul>
                <li class="login">
                    注册
                </li>
                <li class="login1">
                    |
                </li>
                <li class="login">
                    登录
                </li>
            </ul>
        </div>

    </div>

    <div class="menu">
        <div class="menutop">
            <div class="blogTitle">
                <h1 id="blogname" class="blogtitle">
                    <a href="http://blog.sina.com.cn/u/2325842975">
                        <span id="blognamespan">从你的全世界路过的博客</span>
                    </a>
                </h1>
                <div>
                    <a class="httpurl" href="http://blog.sina.com.cn/u/2325842975">
                        http://blog.sina.com.cn/u/2325842975
                    </a>
                </div>
            </div>


            <div class="blognav" id="blognav">
                <div id="blognavBg" class="blognavBg">
                </div>
                <div class="blognavInfo">
                    <span><a class="on" href="http://blog.sina.com.cn/u/2325842975">首页</a></span>
                    <span><a class="on" href="http://blog.sina.com.cn/s/articlelist_2325842975_0_1.html">博文目录</a></span>
                    <span><a class="on" href="http://photo.blog.sina.com.cn/u/2325842975">图片</a></span>
                    <span><a class="on" href="http://blog.sina.com.cn/s/profile_2325842975.html">关于我</a></span>
                </div>
            </div>
        </div>
    </div>

    <div id="content">

        <div class="left" style="float:left">
            <div class="userinfo">
                <a class="a1">个人资料</a>
                <ul>
                    <li>ni</li>
            </div>

            <div class="userinfo">
                <a class="a1">个人资料</a>
            </div>

            <div class="userinfo">
                <a class="a1">个人资料</a>
            </div>

            <div class="userinfo">
                <a class="a1">个人资料</a>
            </div>
        </div>

        <div class="right" style="float:right">

            <div class="usermenu">
                <a class="a1">个人资料</a>
            </div>

        </div>


    </div>
</body>
</html>
